@import '../variables.scss';

.main-header {
    margin: auto;
    padding: 6vw;
    background-color: white;
}

.main-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6vw;
}